body{
	font-family: arial,sans serif;
	background: #ccc;


}
#main-cont{
	background: green;
	color:rgb(251,176,64);
	width: 800px;
	height: 500px;
	margin: auto;
	text-align: center;

}
div .article{
	color:#fff;
	background:#fff;
	width: 50%;
	margin: auto;
	padding-bottom:5px;
}
.section1{

}
@media screen and (min-width: 600px) {
	#main-cont{
		
	
		background: #222;
	}
	

}
header ul li{
     list-style: none;
     margin: 0px;
     padding: 0px;
     display: inline;
}
